<footer class="flex justify-center">
  <div
    class="w-full max-w-screen-lg lg:px-28 p-2 max-lg:px-4 py-4 sm:py-8 flex sm:flex-row sm:justify-between flex-col-reverse items-center gap-2"
  >
    <span class="block text-sm text-gray-700 sm:text-center dark:text-gray-300 max-sm:text-xs">
       2024
      <a href="/#hero" class="hover:underline">José Ariel Martínez</a>. Inspired by
      <a href="https://porfolio.dev/" target="_blank" class="hover:underline">midudev</a>.
    </span>
    <ul
      class="flex flex-wrap items-justify-center text-sm font-medium gap-4 md:gap-6"
    >
      <li>
        <a href="/#experience" class="hover:underline text-gray-800 dark:text-gray-200">Experiencia</a>
      </li>
      <li>
        <a href="/#projects" class="hover:underline text-gray-800 dark:text-gray-200">Proyectos</a>
      </li>
      <li>
        <a href="/#about" class="hover:underline text-gray-800 dark:text-gray-200">Sobre mi</a>
      </li>
    </ul>
  </div>
</footer>
