<article class="flex flex-col items-center">
  <img class="size-20 mb-3 rounded-full max-sm:size-16" src="/me.webp" alt="jose foto" />
  <div class="mb-2 flex items-center gap-2">
    <span class="relative flex max-sm:size-2 size-2.5">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-500 dark:bg-green-400 opacity-75"></span>
      <span class="relative inline-flex rounded-full max-sm:size-2 size-2.5 bg-green-600 dark:bg-green-500"></span>
    </span>
    <p class="ext-gray-700 dark:text-gray-300 max-sm:text-xs text-sm">Disponible</p>
  </div>
  <h1
    class="mb-1 text-4xl font-bold text-gray-800 dark:text-gray-200 max-sm:text-3xl"
  >
    Hola, soy José
  </h1>
  <p class="text-lg font-medium text-gray-700 dark:text-gray-300 max-sm:text-base text-center">
    +2 años de experiencia. 
    <strong
      class="text-[#0a9396] dark:text-[#f57d02] text-xl"
    >
      Desarrollador Web Frontend
    </strong> de Jujuy, Argentina.
  </p>
  <div class="flex flex-wrap justify-center gap-2 mt-4 md:mt-6">
    <div id="btn-gmail" class="p-[1px] bg-[conic-gradient(from_45deg,_#FBBC04,_#34A853,_#4387f4ee,_#EA4335,_#FBBC04)] rounded-lg">
      <a
        href="mailto:joariel17@gmail.com"
        id="gmail"
        onclick="copyMail()"
        class="flex gap-2 items-center py-2 px-4 text-sm font-semibold rounded-lg bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200 transition group max-sm:text-xs max-sm:font-medium w-[92px] sm:w-[98px] relative"
      >
        <span class="absolute rounded-lg inset-0 bg-[conic-gradient(from_45deg,_rgba(251,189,4,0.5),_rgba(52,168,83,0.5),_rgba(67,135,244,0.5),_rgba(234,68,53,0.5),_rgba(251,189,4,0.5))] dark:bg-[conic-gradient(from_45deg,_rgba(251,189,4,0.25),_rgba(52,168,83,0.25),_rgba(67,135,244,0.25),_rgba(234,68,53,0.25),_rgba(251,189,4,0.25))] transition opacity-0 group-hover:opacity-100 z-0"></span>
        <img src="/Gmail.svg" alt="linkedin logo" class="size-4 z-[1]"/>
        <p class="z-[1]">Gmail</p>
      </a>
    </div>
    <a
      href="https://www.linkedin.com/in/joarieldev/"
      target="_blank"
      class="flex gap-2 items-center py-2 px-4 text-sm font-semibold rounded-lg border bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200 border-[#0A66C2] hover:bg-[#0A66C2]/20 dark:hover:bg-[#0A66C2]/30 transition max-sm:text-xs max-sm:font-medium"
    >
      <img src="/LinkedIn.svg" alt="linkedin logo" class="size-4" />
      LinkedIn
    </a>
    <a
      href="https://github.com/joarieldev"
      target="_blank"
      class="flex gap-2 items-center py-2 px-4 text-sm font-semibold rounded-lg border bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200 border-[#000000] dark:border-gray-500 hover:bg-[#000000]/20 dark:hover:bg-gray-500/40 transition max-sm:text-xs max-sm:font-medium"
    >
      <img src="/GitHub.svg" alt="git-hub logo" class="size-4" />
      GitHub
    </a>
  </div>
</article>

<script is:inline>
  const copyMail = async () => {
    const mailto = 'joariel17@gmail.com'
    const mail = document.getElementById('gmail')
    const mailCss = mail.style.cssText
    const mailElement = document.getElementById('gmail').innerHTML
    const btn_mail = document.getElementById('btn-gmail')
    const btn_mailCss = btn_mail.style.cssText
    
    await navigator.clipboard
    .writeText(mailto)
    .then(function () {
        mail.classList.add('duration-500')
        mail.style.pointerEvents = 'none'
        mail.classList.remove('bg-gray-200', 'dark:bg-gray-800')
        mail.classList.add('bg-[#A5CCB5]', 'dark:bg-[#1B482E]')
        mail.textContent = 'Copiado!'
        btn_mail.style.background = 'rgba(47, 158, 68, 1)'
        
        setTimeout(() => {
          mail.classList.remove('bg-[#A5CCB5]', 'dark:bg-[#1B482E]')
          mail.classList.add('bg-gray-200', 'dark:bg-gray-800')
          mail.style.cssText = mailCss
          document.getElementById('gmail').innerHTML = mailElement
          btn_mail.style.cssText = btn_mailCss
          mail.classList.remove('duration-500')
        }, 1500)
      })
      .catch(function (error) {
        console.error('Error al copiar el valor al portapapeles: ' + error)
      })
  }
</script>
