---
import Moon from './icons/Moon.astro'
import Sun from './icons/Sun.astro'
---

<button onclick="changeTheme()" class="mx-2 hover:scale-110 transition size-6">
  <Sun id="sun" class="hidden" />
  <Moon id="moon" class="hidden" />
</button>

<script is:inline>
  let globalTheme = 'dark'
  const changeTheme = () => {
    const theme = getTheme()
    if (theme === 'dark') {
      updateTheme('light')
      globalTheme = 'light'
    }
    if (theme === 'light') {
      updateTheme('dark') 
      globalTheme = 'dark'
    }
  }
  const getTheme = () => {
    const themeStorage = localStorage.getItem('theme')
    if ( themeStorage !== 'undefined' && themeStorage !== null ) {
      return localStorage.getItem('theme')
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light'
  }
  const updateTheme = (theme) => {
    localStorage.setItem('theme', theme)
    if(theme === 'dark') {
      document.documentElement.classList.add('dark')
      document.getElementById('sun').classList.remove('hidden')
      document.getElementById('moon').classList.add('hidden')
    }
    if(theme === 'light') { 
      document.documentElement.classList.remove('dark')
      document.getElementById('moon').classList.remove('hidden')
      document.getElementById('sun').classList.add('hidden')
    }
  }
  document.addEventListener('DOMContentLoaded', () => {
    const theme = getTheme()
    updateTheme(theme)
    globalTheme = theme
  })
</script>
