---
import Experience from './Experience.astro'

const experience = [
  {
    date: 'Junio 2024',
    title: 'Desarrollador Web FullStack',
    company: 'Nodect',
    description:
      'Encargado del desarrollo de interfaces para la plataforma y de implementar funcionalidades en Frontend y Backend, utilizando las tecnologías como Nextjs y Expressjs.',
    link: 'https://www.linkedin.com/company/nodect/',
  }
]
---

<ol class="relative border-s border-[#bb3e03] dark:border-[#005f73]">
  {
    experience.map((experience) => (
      <li class="mb-10 ms-4">
        <Experience {...experience} />
      </li>
    ))
  }
</ol>
