---
import '@fontsource-variable/plus-jakarta-sans'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/code.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-200 dark:bg-[#001219]">
    <div class="absolute z-[-1] h-[700px] w-full overflow-hidden">
      <div class="relative h-full w-full">
        <div
          class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(0,95,115,.15),rgba(255,255,255,0))] dark:bg-[radial-gradient(circle_farthest-side,rgba(233,216,166,.15),rgba(255,255,255,0))]"
        >
        </div>
        <div
          class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(0,95,115,.15),rgba(255,255,255,0))] dark:bg-[radial-gradient(circle_farthest-side,rgba(233,216,166,.15),rgba(255,255,255,0))]"
        >
        </div>
      </div>
    </div>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  html {
    font-family: 'Plus Jakarta Sans Variable', sans-serif, system-ui;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #717171 #42424273;
  }
</style>
